<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Business Ltd</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>YTeViettel</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>YTeViettel</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Ứng dụng truy cập bluetooth để kết nối tới thiết bị đo sức khỏe</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Ứng dụng cần truy cập và kết nối tới thiết bị bluetooth giúp bạn đo sức khỏe</string>
	<key>NSCameraUsageDescription</key>
	<string>Ứng dụng truy cập camera để gọi điện, chụp ảnh gửi góp ý, đăng bài</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Ứng dụng truy cập vị trí để xác định những bệnh viện gần bạn</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Ứng dụng truy cập micro để giúp bạn nhập số đo huyết áp, gọi điện</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Ứng dụng truy cập thư viện ảnh để chọn ảnh góp ý, đăng bài</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Ứng dụng truy cập thư viện ảnh để chọn ảnh góp ý, đăng bài</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Ứng dụng sử dụng tính năng nhận dạng giọng nói để giúp bạn nhập liệu</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
