<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946824122814-m58si2p58b3uc7h3i9enjsthgvnfu8qs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946824122814-m58si2p58b3uc7h3i9enjsthgvnfu8qs</string>
	<key>API_KEY</key>
	<string>AIzaSyAXSTTmBO5E6x2YltnjC-OCTpEBV3HQ7qM</string>
	<key>GCM_SENDER_ID</key>
	<string>946824122814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ads.yamahahome</string>
	<key>PROJECT_ID</key>
	<string>test32-416f8</string>
	<key>STORAGE_BUCKET</key>
	<string>test32-416f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946824122814:ios:9ab65e974966b7551ca9ef</string>
	<key>DATABASE_URL</key>
	<string>https://test32-416f8-default-rtdb.firebaseio.com</string>
</dict>
</plist>